*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.collapse {
    margin-left: 65%;
}

.landing{
    background-image:none;
    height: 0%;
  }
.logfrm form{
   margin-top: 100px;
}
.logimg img{
    margin-left: -100px;
}