*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: rgb(181, 245, 173);
}
.bg-custom{
    background-color:rgba(255, 253, 253, 0.938);
}
.collapse {
    margin-left: 65%;
}
.landing{
    background-image:none;
    height: 0%;
  }

.card-custom{
    display: flex;
    
}
.dist-head h1{
    text-align: center;
    font-weight: 900;

}
.dist-img img{
    border-radius: 150px;
}
.dist-para{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}
