*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collapse 
{
    margin-left: 65%;
}
.landing{
  background-image:none;
  height: 0%;
}
.loginform form
{
    margin-top: 90px;
    margin-left: 20px;
} 
.loginform img
{
    margin-top: 70px;
    margin-right: 50px;
}